.top--menu {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: black;
  color: white;
  align-items: justify;
  animation: transitionIn 0.75s;
}

.bottom--menu {
  display: flex;
  flex-direction: column;
}

.link--icon {
  margin-top: 20px;
  width: 4%;
  padding: 0;
  margin-left: 38%;
  margin-bottom: 15px;
}

.positionContent {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  position: sticky;
  top: 0;
  height: 100vh;
}

.signOut--button {
  width: 50%;
  border-radius: 2em;
  padding: 12px;
  border: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  margin-left: 34%;
  cursor: pointer;
  margin-bottom: 25px;
}

.signOut--button:hover {
  background-color: #c1babad3;
}

.link--button {
  border-radius: 2em;
  padding: 12px;
  display: flex;
  border: black;
  justify-content: justify;
  margin-left: 35%;
  gap: 20px;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  background-color: black;
  color: white;
  width: 45%;
  text-decoration: none;
}

.tweet--button {
  border-radius: 2em;
  padding: 12px;
  display: flex;
  border: 2px solid rgb(29, 161, 242);
  justify-content: justify;
  margin-left: 35%;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 50%;
  text-decoration: none;
  background-color: rgb(29, 161, 242);
  margin-top: 20px;
  margin-bottom: 40px;
  justify-content: center;
}

.tweet--button:hover {
  cursor: pointer;
  background-color: rgb(25, 140, 211);
}

.link--button:hover {
  background-color: #383535;
  cursor: pointer;
}

.tweet--popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: black;
  z-index: 200;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 2em;
  justify-content: center;
  padding: 10px;
}

@media screen and (max-width: 1150px) {
  .link--text {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .menu {
    flex: 0.5;
  }
  .logout--img {
    display: none;
  }
  .link--button {
    margin-left: 0;
  }
  .top--menu {
    align-items: center;
  }
  .menu {
    align-items: center;
  }
  .positionContent {
    align-items: center;
  }
  .tweet--button {
    display: none;
  }
  .signOut--button {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }
  .link--icon {
    margin-right: 75%;
  }
}

@media screen and (max-width: 550px) {
  .menu {
    flex: 0.2;
  }
  .signOut--button {
    border-radius: none;
    font-size: 12px;
    padding: none;
  }
}
