.newsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  width: 90%;
}

.newsInfo {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.newsImage {
  width: 70px;
  height: 70px;
  margin-bottom: 4%;
  object-fit: cover;
  border-radius: 1em;
  margin-right: 5%;
}

.title {
  font-size: 14px;
  margin-top: 4px;
}
