.header {
  background-color: black;
  display: flex;
  gap: 30px;
  color: white;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.profileTop {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(93, 96, 99);
  position: relative;
}

.arrow {
  width: 19px;
  margin-top: 3px;
  margin-left: 20px;
}

.arrow:hover {
  cursor: pointer;
}

.profileInfo {
  background-color: black;
  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
}

.setupProfile {
  float: right;
  margin: 20px;
  border-radius: 2em;
  color: white;
  background-color: black;
  padding: 12px;
  font-size: 15px;
  font-weight: bolder;
  margin-left: 76%;
}

.setupProfile:hover {
  cursor: pointer;
  background-color: #383535;
}

.profilePic {
  position: absolute;
  top: 33%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 5px solid black;
  margin-left: 25px;
  object-fit: cover;
}

.followers {
  display: flex;
  justify-content: start;
  margin-top: 50px;
  margin-left: 30px;
  gap: 40px;
}

nav {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: flex-end;
  flex: 1;
  font-size: 18px;
}

.buttontweet {
  background-color: black;
  border: none;
  color: gray;
  padding: 12px;
  font-size: 18px;
  flex: 1;
}

.buttonlikes {
  background-color: black;
  border: none;
  color: gray;
  padding: 12px;
  font-size: 18px;
  flex: 1;
}

.selectedButton {
  font-weight: bold;
  color: white;
  border-bottom: 1px solid rgb(29, 161, 242);
  border-width: 4px;
  outline: none;
}

button {
  cursor: pointer;
}

.buttontweet:hover {
  background-color: #383535;
  color: rgb(65, 66, 69);
}

.buttonlikes:hover {
  background-color: #383535;
}

@media screen and (max-width: 550px) {
  .setupProfile {
    display: none;
  }
  .followers {
    margin-top: 120px;
  }
}
