.tweet--image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid black;
  object-fit: cover;
}

.tweet--container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 5px 0 5px 10px;
}

.tweet--info {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 17px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.tweet--username {
  display: flex;
  align-items: center;
  gap: 10px;
}

.noTweets {
  background-color: black;
  display: flex;
  flex: 1;
  color: white;
  justify-content: center;
}
