@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
s * {
  font-family: "Helvetica Neue";
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  max-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  width: auto;
  max-width: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  flex: 1.3;
  animation: transitionIn 0.75s;
  border: 1px solid gray;
  border-bottom: none;
}

.profileBottom {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.messages {
  display: flex;
  flex-direction: column;
  animation: transitionIn 0.75s;
  flex: 1.3;
}
